@model List<Course>

@{
    ViewData["Title"] = "ApprovalRequest";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}


    

<div class="coursepagecont">
    <div style="display:flex; flex-direction:column; gap:1.5rem">

        @foreach (var i in Model)
        {
              
            @await Html.PartialAsync("_courselist", i)
           

        }
    </div>

    </div>

