@model List<Course>
@{
    ViewData["Title"] = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="coursepagecont">
    <div class="coursepagecont2">

@foreach(var i in Model)
{
    @await Html.PartialAsync("_courseitem", i)

}
    </div>

</div>


